.root {
   z-index:4;
   position:fixed;
   left: 0;
   right: 0;
   color:white;
   background-color:rgb(33, 35, 41);
   transition: bottom .5s;
   bottom: -30rem;
   border-radius: 22px;
}

.mid {
  bottom: -10rem
}
.fullShoppingCart {
  bottom: 0
}